.App {
  text-align: center;
  background-image: url("./assets/espacio3.gif");
  /* background-repeat: no-repeat;  */
  /* background-size: cover;
  background-position: center; */
}
.main-height {
  height: 100vh;
}


/* --------  NAVBAR ------------ */
.navbarStyle{
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2, 0, 36, 0.133) 0%, rgba(149, 32, 147, 0.348) 35%, rgba(26, 24, 78, 0.429) 99%);
  font-size: larger;
}
.navbar-link{
  text-decoration: none !important;

}


/* --------  HOME ------------ */
.divHome{
  margin-top: 100px;
  height: 100vh;
}
.divHome .title{
  font-weight: 900;
  color: rgba(255, 143, 210, 0.9);
  text-shadow: 1px 5px 3px rgba(255, 252, 252, 0.844);
  font-weight: bold;
}
/*-------------- Animación TypeWriting Home ----------------*/
.sub-portfolio{
  font-family: monospace;
}

.line {
  margin-top: 50px;
  margin-left : 115px;
  border-right:  solid rgba(255, 255, 255, 0.75);
  white-space: nowrap;
  overflow: hidden;
}
.anim-typewriter {
  animation: typewriter 4s steps(32) 1s 1 normal both,
  blinkTextCursor 800ms steps(32) infinite normal;
}
@keyframes typewriter {
  from {
        width: 0;
  }
  to {
        width: 14em;
  }
}

@keyframes blinkTextCursor {
  from {
        border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
        border-right-color: transparent;
  }
}